body {
    background-color: #adbeca;
    font-family: Arial;
}

p {
    color: #e3e3e3;
    width: 300;
    font-weight: normal;
}

h1 * {
    color: #003366;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.G img {
    padding: 3px 3px 8px;
}

.G, h1 * {
    margin-left: 50px;
}

.slogan {
    font-size: larger;
    margin-left: 30px;
}

.links a {
    text-align: center;
    text-decoration: none;
    color: rgb(31, 63, 96);
    font-size: larger;
}

#video {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a:hover {
    color: rgb(129, 129, 192);
}

a:active {
    color: powderblue;
}

#logo {
    vertical-align: middle;
    margin-left: 10px;
}
