body {
    padding-top: 120px;
    left: 1px;
    right: 1px;
    background-color: #F7F9Fc;
    font-family: Arial;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    position: relative;
}

p {
    color: #e3e3e3;
    width: 300;
    font-weight: normal;
}

h1 {
    color: #003366;
    font-weight: bold;
    font-size: 35px;
    text-align: left;
    margin-left: 30px;
}

.G img {
    padding: 3px 3px 8px;
}

.slogan {
    font-size: larger;
    margin-left: 20px;
}

.links a {
    text-align: left;
    text-decoration: none;
    color: rgb(31, 63, 96);
    font-size: larger;
}

a:hover {
    color: rgb(129, 129, 192);
}

a:active {
    color: powderblue;
}

.logo {
    vertical-align: middle;
    margin-left: 10px;
}
