body {
    background-color: #6f94b1;
    font-family: Arial;
}

p {
    color: #e3e3e3;
    width: 300;
    font-weight: normal;
}

.Slogan {
    color: #e3e3e3;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: #003366;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    color: orange;
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    text-align: center;
    font-style: italic;
}

h3 {
    color: black;
    font-size: 30px;
    font-weight: normal;
    width: 300px;
    text-align: center;
}

h4 {
    color: gainsboro;
     font-size: 20px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    line-height: 30px;
}

h1 {
    text-align: center;
}

table, th, td {
    text-align: center;
    color: #000;
}

table {
    width: 200px;
}

.links a {
    text-align: center;
    text-decoration: none;
    color: rgb(31, 63, 96);
    font-size: larger;
}

#video {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
