body {
    font-size: 18px;
    padding-top: 70px;
    left: 1px;
    right: 1px;
    background-color: #F7F9Fc;
    font-family: Arial;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    position: relative;
}

h1 {
    color: #003366;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.G, img {
    padding: 3px 3px 3px;
}

.links a {
    text-align: left;
    text-decoration: none;
    color: rgb(31, 63, 96);
    font-size: larger;
}

a:hover {
    color: rgb(129, 129, 192);
}

a:active {
    color: powderblue;
}

.logo {
    vertical-align: middle;
    margin-left: 10px;
}

#video {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
