* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F9Fc;
    line-height: 1.2;
}

.one {
    max-width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 1000;
}

nav {
    position: fixed;
    left: 0;
    top: 70px;
    padding-left: 30px;
    width: 200px;
    height: 120px;
}

div, aside {
    margin-top: 80px;
    margin-left: 120px;
}

h1 {
    color: #003366;
    text-align: left;
}

.G, img {
    padding: 3px 3px 3px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links a {
    text-decoration: none;
    color: rgb(31, 63, 96);
    font-size: 24px;
}

a:hover {
    color: rgb(129, 129, 192);
}

a:active {
    color: rgb(100, 100, 150);
}

.logo {
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 10px;
}

#video {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
